In [43]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [44]:
heartfailure_data = pd.read_csv('heart_failure_dataset.csv')

In [45]:
heartfailure_data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [46]:
heartfailure_data.isnull()
heartfailure_data.shape
heartfailure_data['DEATH_EVENT'].value_counts()

0    203
1     96
Name: DEATH_EVENT, dtype: int64

In [47]:
X = heartfailure_data.drop (columns='DEATH_EVENT',axis=1)
Y = heartfailure_data['DEATH_EVENT']

In [48]:
print(X)

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time
0          0     4
1          0     6
2          1     7
3          0     7
4          0     8
..       ...   ...
294        1   270
295        0   271
296        0   278
297        1   280
298        1   285

[299 rows x 12 columns]

In [49]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [121]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, stratify=Y, random_state=2)

In [122]:
print(X.shape, X_train.shape, X_test.shape)

(299, 12) (224, 12) (75, 12)

In [123]:
classifier = svm.SVC(kernel='linear')

In [124]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [125]:
X_train_prediction = classifier.predict(X_train)
training_data_accurasy = accuracy_score(X_train_prediction, Y_train)

In [126]:
print('akurasi data training :', training_data_accurasy)

akurasi data training : 0.8035714285714286

In [127]:
X_test_prediction = classifier.predict(X_test)
test_data_accurasy = accuracy_score(X_test_prediction, Y_test)

In [128]:
print('akurasi data testing :', test_data_accurasy)

akurasi data testing : 0.8133333333333334

In [145]:
input_data = (55,	0,	1199,	0,	20,	0,	263358.03,	1.83,	134,	1,	1,	241)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
    print('Pasien tidak Meninggal Karena Gagal Jantung')
else:
    print('Pasien Meninggal Karena Gagal Jantung')

[0]
Pasien tidak Meninggal Karena Gagal Jantung

c:\Users\Renz\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [139]:
import pickle

In [140]:
import pickle
filename = 'gagal_jantung.sav'
pickle.dump(classifier, open(filename,'wb'))